@import '../functions';

// light theme
$light-theme-primary: #8b8b8b;

$light-theme: (
	background-color: darken($light-theme-primary, 9%),
	side-nav-bg-color: darken($light-theme-primary, 0%),
	side-nav-item-color: darken($light-theme-primary, 5%),
	side-nav-item-h-color: darken($light-theme-primary, 9%),
  
	side-nav-item-active-color: darken($light-theme-primary, 9%),
  header-bg-color: darken($light-theme-primary, 5%)
);


.theme-light {
	@include _setThemeVars($light-theme)
}
