// @import "theme";
@import "variables";

@import '~bootstrap/scss/bootstrap-grid.scss';

@import 'mixins';
@import './style';

*,
div {
  box-sizing: border-box;
  // outline: none;

  &::after,
  &::before {
    box-sizing: content-box;
  }
}


._flx {
  @extend %flex;
}

._fr,
.to-right {
  margin-left: auto;
}

._revers {
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
  color: #FFF;

  &:link {
    text-decoration: none;
    color: #FFF;
  }
}

.linkEl {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}


$spacers: 2,
4,
6,
8,
10,
12,
14,
16,
18,
20;
$directions: 'h',
'v';

@each $dir in $directions {

  .divide-list,
  .divide {
    &-#{$dir} {
      @each $spacer in $spacers {
        &-#{$spacer} {
          >* {
            $direction: null;

            @if $dir=='h' {
              $direction: left;
            }

            @else {
              $direction: top;
            }

            margin-#{$direction}: $spacer+px;

            &:first-child {
              margin-#{$direction}: 0px;
            }
          }
        }
      }
    }
  }
}

._grid {
  display: grid;
}


@each $spacer in $spacers {
  .gap {
    &-#{$spacer} {
      gap: $spacer + px
    }
  }
}

@each $dir in $directions {

  .to {
    &-#{$dir} {
      @each $spacer in $spacers {
        &-#{$spacer} {
          $direction: null;

          @if $dir=='h' {
            $direction: left;
          }

          @else {
            $direction: top;
          }

          margin-#{$direction}: $spacer+px;

        }
      }
    }
  }
}