// @import "theme";
@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Dela+Gothic+One&family=IBM+Plex+Mono:wght@400;600;700&display=swap');
@import '~bootstrap/scss/bootstrap-grid.scss';

@import 'mixins';

*, div {
    box-sizing: border-box;

    &::after, &::before {
        box-sizing: content-box;
    }
}


._flx {
  @extend %flex;
}

._fr {
  margin-left: auto;
}