//

%flex {
  display: flex;
}

@function map-set($map, $key, $value) {
  $new: ($key: $value,
    );
  @return map-merge($map, $new);
}

@function changeKeys($target, $prefix) {
  $values: ();

  @each $_key,
  $_value in $target {
    $values: map-merge(map-set($values, $prefix + $_key, $_value), $values);
  }

  @return $values;
}